{% extends 'base.html.twig' %}

{% block title %} Vote{% endblock %}

{% block body %}




    <!------ Include the above in your HEAD tag ---------->
    <h1>Vote index</h1>



    {% for vote in votes %}
    <div id="display-vote-index">
        <div >
            <h2 id="vote-question">{{ vote.question }}</h2>
            <h4 id="amount">Amount of Likes {{ vote.likes }} </h4>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('vote_edit', {'id': vote.id}) }}" class="vote-button">EDIT</a>
        {% endif %}
        {% block javascripts %}{% endblock %}
            <a href="{{ path('vote_show', {'id': vote.id}) }}" class="vote-button">VOTE</a>
        </div>
        <br>
    {% endfor %}



{#    Amount of Likes {{ vote.likes }}#}


    <a href="{{ path('vote_new') }}" class="vote-button">Create new</a>


    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}
