{% extends 'base.html.twig' %}


{% block title %}Vote{% endblock %}
{%  block body %}

    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <h1>Vote</h1>
    <form method="GET" action="vote_show">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                               {{ vote.question }}
                            </h3>
                            {% set twig = [] %}
                            {% for answer in ans %}

                                {% set twig = twig|merge([answer.Ans]) %}

                                <br>
                            {% endfor %}
                        </div>

                        {{ vote.option1 }} {{ vote.option1 }}<br>
                        <p id="option1"></p>
                        {{ vote.option1 }} {{ vote.option1 }}<br>
                        <p id="option2"></p>

                        <span id="countdown" class="timer"></span>
                        {% set time = [] %}
                        {% for countdown in datetime %}
                           Expires on = {{ countdown.datetime|date("H:i:s \O\n d/m/Y") }}
                            <span id="countdown"></span>                    <span id="countdown" class="timer"></span>
                            <br>

                            {% if "now"|date('H:i:s \O\n d/m/Y') >  countdown.datetime|date('H:i:s \O\n d/m/Y') %}
                                <p>expired</p>
                            {% endif %}

                        {% endfor %}


                        {% for comment in comment %}
                            {{ comment.Comment }}
                        {% endfor %}

<br>
                        todays date it {{ "now"|date("H:i:s \O\n d/m/Y") }}


                    </div>
                </div>
            <p> current support is: {{ vote.likes }}</p>

                {% if liked == true %}
                     <a href="{{ path('like_show', {'id': vote.id}) }}">|like|</a>
                {% elseif liked == false %}

                    <p>you have already liked the vote</p>
{% endif %}
{#            {% for support in supporting %}#}
{#                {% if support.user.username == app.user.username %}#}
{#                    <p> -im in first if -</p>#}

{#                    {% if support.vote.id == vote.id  %}#}
{#                            <p>   Already voted </p>#}
{#                     {% endif %}#}
{#                    {% else %}#}
{#                    <a href="{{ path('like_show', {'id': vote.id}) }}">|like1|</a>#}

{#                {% endif %}#}
{#                {% else %}#}
{#                    <a href="{{ path('like_show', {'id': vote.id}) }}">|like2|</a>#}

{#            {% endfor %}#}
{#                {% for support in supporting %}#}
{#                    {% if support.user.username == app.user.username and support.vote.id == vote.id%}#}
{#                        Already liked#}
{#                {% else %}#}
{#                    <a href="{{ path('like_show', {'id': vote.id}) }}">|like|</a>#}
{#                    {% endif %}#}
{#                {% endfor %}#}

{#                {% if support.user.username == app.user.username and support.vote.id == vote.id  %}#}

{#                <p>theres same username already</p>#}
{#                {% else %}#}
{#                    <a href="{{ path('like_show', {'id': vote.id}) }}">|like|</a>#}
{#                {% endif %}#}


            </div>
        </div>
</div>
        </div>
    </form>

    <a href="{{ path('vote_index') }}">|back to list|</a>

    <a href="{{ path('vote_edit', {'id': vote.id}) }}">|edit|</a>
    <a href="{{ path('comment_new', {'id': vote.id}) }}">|Comment|</a>
    <a href="{{ path('polling_new', {'id': vote.id}) }}">|Polling|</a>




    <td><a href="{{ path('polling_index', {'id': vote.id }) }}" value="support" name="support" method="POST">| Support Me|</a></td>


    {{ include('vote/_delete_form.html.twig') }}

    <script>
        var arr = {{ twig|json_encode|raw }};
        function getOccurrence(array, value) {
            var count = 0;
            array.forEach((v) => (v === value && count++));
            return count;
        }
        console.log(arr);
        var ans1 = getOccurrence(arr, "1");  // 2
        var ans2 = getOccurrence(arr, "2");  // 3
        var total = ans1 + ans2;
        var ans1per = ans1 / total * 100;
        var ans2per = ans2 / total * 100;
        document.getElementById("option1").innerHTML = ""+ans1per+"%";
        document.getElementById("option2").innerHTML = ""+ans2per+"%";
        {#var current_level =#}
        {#        {{ countdown.datetime|date('d-m-Y H:i:s')|json_encode|raw }};#}
        {#function timer() #}
        {#    var days = Math.floor(current_level/86400);#}
        {#    var remainingDays = current_level - (days * 86400);#}
        {#    //if (days <= 0)}#}
        {#    //    days = current_level;#}
        {#    //}#}
        {#    var hours = Math.floor(remainingDays/3600);#}
        {#    var remainingHours = remainingDays - (hours * 3600);#}
        {#    //if (hours >= 24)}#}
        {#    //     hours = 23;#}
        {#    //}#}
        {#    var minutes = Math.floor(remainingHours/60);#}
        {#    var remainingMinutes = remainingHours - (minutes * 60);#}
        {#    //if (minutes >= 60) }#}
        {#    //     minutes = 59;#}
        {#    //}#}
        {#    var seconds = remainingMinutes;#}
        {#    document.getElementById('countdown').innerHTML = days + ":" + hours + ":" + minutes + ":" + seconds;#}
        {#    //if (seconds == 0) }#}
        {#    //    clearInterval(countdownTimer);#}
        {#    //     document.getElementById('countdown').innerHTML = "Completed";#}
        {#    //}#}
        {#    current_level--;#}
        {#}#}
        {#var countdownTimer = setInterval(timer, 1000);#}
    </script>


{% endblock %}