<!DOCTYPE html> <html>
<head>
    <meta charset="UTF-8" />
    <title>MGW - {% block pageTitle %}{% endblock %}</title>

    {% block body %}
    <style>
        @import '/css/main.css';
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}

</head>
<div id="body">
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">
        <img src="/images/TUD.png" alt="TUD logo" width="150" height="150">
        <a style="margin-left: 75px;" class="navbar-brand space-brand" href="#">
           Student Union Voting
        </a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

                </li>

                {% if app.user %}
                    <li>
                        <a href="{{ url('vote_index') }}">Questions</a>
                    </li>
                    <li>
                    <li class="nav-item"><a href="{{ path('app_logout') }}">Logout</a></li>
                    </li>
                {% endif %}

                {% if not app.user %}
                <li class="nav-item"><a href="{{ path('app_login') }}">Login</a></li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ url('admin') }}">Admin home</a>
                    </li>

                {% endif %}
                {% block javascripts %}{% endblock %}


                </li>
            </ul>
        </div>
    </nav>

    {% if app.user %}
        <h1>Welcome {{ app.user.username }}</h1>
    {% endif %}

    <div class="card">
        <div class="card-header">
            Creator
        </div>
        <div class="card-body">
            <h4 class="card-title">Create a Poll  </h4>
            <p class="card-text">Our Creator mode will allow Logged in Users to Create any Polls they need.  </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            User Mode
        </div>
        <div class="card-body">
            <h4 class="card-title">Vote  </h4>
            <p class="card-text">Our User mode will allow Logged in Users to Vote on any Polls they want.  </p>
        </div>
    </div>    <div class="card">
        <div class="card-header">
            Important To Know
        </div>
        <div class="card-body">
            <h4 class="card-title">Notice  </h4>
            <p class="card-text"> Bare in mind that only Logged in users will be able to interact with the website </p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</div>
</html>
{% endblock %}