{{ form_start(form) }}
{{ form_widget(form) }}


                {% if liked == true %}
                    {% if vote.likes >2 %}
            <div id="display-vote-index">

                        <select name="ans">
                            <option value="1">{{ vote.option1 }}</option>
                            <option value="2">{{ vote.option2 }}</option>
                        </select>

                        <button class="btn">{{ button_label|default('Save') }}</button>
                        <hr>
                        <hr>


                        <input type="hidden" name="user" value="{{ app.user.id }}">
                        <input type="hidden" name="comment[VoteID]" value="{{ vote.id }}">

                    {% elseif vote.likes < 2 %}
                        <div id="display-already-voted">
                        <p> sorry vote have not yet reached more than 2 likes </p>
                        </div>
                    {% endif %}


                {% elseif liked == false %}
                <div id="display-already-voted">

                    <p>YOUR VOTE HAS ALREADY BEEN SAVED</p>
                    <a href="{{ path('vote_index', {'id': vote.id}) }}" class="vote-button">Back to the List</a>

                </div>

                {% endif %}


{{ form_end(form) }}
            </div>