{% extends 'base.html.twig' %}

{% block title %}Polling index{% endblock %}

{% block body %}
    <h1>Polling index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ans</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for polling in pollings %}
            <tr>
                <td>{{ polling.id }}</td>
                <td>{{ polling.Ans }}</td>
                <td>
                    <a href="{{ path('polling_show', {'id': polling.id}) }}">show</a>
                    <a href="{{ path('polling_edit', {'id': polling.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>


        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('polling_new',{'id':polling.id}) }}">Create new</a>#}
{% endblock %}
