{% extends 'base.html.twig' %}

{% block title %}Polling{% endblock %}

{% block body %}
    <h1>Polling</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ polling.id }}</td>
            </tr>
            <tr>
                <th>Ans</th>
                <td>{{ polling.Ans }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('polling_index') }}">back to list</a>

    <a href="{{ path('polling_edit', {'id': polling.id}) }}">edit</a>

    {{ include('polling/_delete_form.html.twig') }}
{% endblock %}
